{% extends 'app/base.html.twig' %}

{% block title %} {{ title('app/settings/language.html.twig') }} {% endblock %}

{% block body %}
    {% set languages = {'de': 'Deutsch', 'en': 'English', 'es': 'Español', 'fr': 'Français', 'it': 'Italiano', 'pl': 'Polski', 'ru': 'Русский', 'sv': 'Svenska', 'uk': 'Український'} %}

    <a href="{{ path('app_settings', {'_locale': app.request.locale}) }}"><-</a><br>

    <select name="user-language" id="user-language-select">
        {% for key, language in languages %}
            {% if key == getUser().profileData.language %}
                <option value="{{ key }}" selected>{{ language }}</option>
            {% else %}
                <option value="{{ key }}">{{ language }}</option>
            {% endif %}
        {% endfor %}
    </select>

{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $('#user-language-select').on('change', function () {
            console.log("{{ getUser().profileData.language }}")
            languageKey = $(this).val()
            $.ajax({
                url: "{{ path('api_v1_user_secure_change_language') }}",
                type: 'POST',
                data: {language: languageKey},
                success: function (result) {
                    if (languageKey === 'de') {
                        window.location.replace("{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}")
                    } else if (languageKey === 'es') {
                        window.location.replace("{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}")
                    }
                    else if (languageKey === 'fr') {
                        window.location.replace("{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}")
                    } else if (languageKey === 'it') {
                        window.location.replace("{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'it'})) }}")
                    } else if (languageKey === 'pl') {
                        window.location.replace("{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'pl'})) }}")
                    } else if (languageKey === 'ru') {
                        window.location.replace("{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}")
                    } else if (languageKey === 'sv') {
                        window.location.replace("{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'sv'})) }}")
                    } else if (languageKey === 'uk') {
                        window.location.replace("{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'uk'})) }}")
                    } else {
                        window.location.replace("{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}")
                    }
                },
                error: function (e) {
                    console.error(e)
                }
            })

            function getUrl(value) {
                return value
            }
        })
    </script>
{% endblock %}
