{% extends 'app/base.html.twig' %}

{% block title %} {{ title('app/settings/new_password.html.twig') }} {% endblock %}

{% block body %}
    <h1>Новый пароль</h1>
    <p id="new-password-errors"></p>
    <p id="new-password-success"></p>
    <form id="new-password-form">
        <input type="password" name="oldPassword" id="new-password-form-old-password-field">
        <input type="password" name="newPassword" id="new-password-form-new-password-field">
        <input type="password" name="newPasswordRepeat" id="new-password-form-new-password-repeat-field">
        <button type="submit" style="cursor: pointer;">Сохранить</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $(document).on('submit', '#new-password-form', function (e) {
            e.preventDefault()
            var oldPassword = $('#new-password-form-old-password-field').val()
            var newPassword = $('#new-password-form-new-password-field').val()
            var newPasswordRepeat = $('#new-password-form-new-password-repeat-field').val()

            if (newPassword !== newPasswordRepeat) {
                $('#new-password-errors').html('Пароли не совпадают')

                return null;
            }

            $.ajax({
                url: "{{ path('api_v1_app_security_check_password') }}",
                type: "POST",
                data: {oldPassword: oldPassword},
                success: function (result) {
                    changePassword(newPassword)
                },
                error: function (e) {
                    $('#new-password-errors').html('Старый пароль неверный')
                }
            })
        })

        function changePassword(newPassword) {
            $.ajax({
                url: "{{ path('api_v1_app_security_change_password') }}",
                type: "POST",
                data: {newPassword: newPassword},
                success: function (result) {
                    $('#new-password-form').trigger("reset")
                    $('#new-password-success').html('Пароль успешно изменен!')
                },
                error: function (e) {
                    alert('Something went wrong. Sorry :(')
                }
            })
        }

        // $('#new-password-form').on('submit', function (event) {
        //     event.preventDefault()
        //     console.log($(this).serialize())
        // })
    </script>
{% endblock %}
