{% extends 'app/base.html.twig' %}

{% block title %} {{ title('app/settings/notifications_settings.html.twig') }} {% endblock %}

{% block body %}
    <div>
        <label for="messagesNotifications">Сообщения</label><input type="checkbox" name="messagesNotifications"
                                                                   id="messagesNotifications">
        <label for="updatesNotifications">Обновления</label><input type="checkbox" name="updatesNotifications"
                                                                   id="updatesNotifications">
        <label for="advertisingNotifications">Рекламные сообщения</label><input type="checkbox"
                                                                                name="advertisingNotifications"
                                                                                id="advertisingNotifications">
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            fillCheckboxes()
        })

        function fillCheckboxes() {
            $.ajax({
                url: "{{ path('api_v1_app_notifications_settings_get') }}",
                type: 'GET',
                success: function (data) {
                    notificationsSettingsDTO = JSON.parse(data)
                    $('#messagesNotifications').prop("checked", notificationsSettingsDTO.messagesNotifications)
                    $('#updatesNotifications').prop('checked', notificationsSettingsDTO.updatesNotifications)
                    $('#advertisingNotifications').prop('checked', notificationsSettingsDTO.advertisingNotifications)
                }, error: function (error) {
                    console.log(error)
                    alert('Something went wrong. Sorry! :(')
                }
            })
        }

        $('#messagesNotifications').on('change', function () {
            $.ajax({
                contentType: 'application/json',
                url: "{{ path('api_v1_app_notifications_settings_post') }}",
                data: JSON.stringify({
                    "messagesNotifications": document.querySelector('#messagesNotifications').checked,
                    "updatesNotifications": document.querySelector('#updatesNotifications').checked,
                    "advertisingNotifications": document.querySelector('#advertisingNotifications').checked
                }),
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    fillCheckboxes()
                }
            })
        })

        $('#updatesNotifications').on('change', function () {
            $.ajax({
                contentType: 'application/json',
                url: "{{ path('api_v1_app_notifications_settings_post') }}",
                data: JSON.stringify({
                    "messagesNotifications": document.querySelector('#messagesNotifications').checked,
                    "updatesNotifications": document.querySelector('#updatesNotifications').checked,
                    "advertisingNotifications": document.querySelector('#advertisingNotifications').checked
                }),
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    fillCheckboxes()
                }
            })
        })

        $('#advertisingNotifications').on('change', function () {
            $.ajax({
                contentType: 'application/json',
                url: "{{ path('api_v1_app_notifications_settings_post') }}",
                data: JSON.stringify({
                    "messagesNotifications": document.querySelector('#messagesNotifications').checked,
                    "updatesNotifications": document.querySelector('#updatesNotifications').checked,
                    "advertisingNotifications": document.querySelector('#advertisingNotifications').checked
                }),
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    fillCheckboxes()
                }
            })
        })
    </script>
{% endblock %}
