{% extends 'app/base.html.twig' %}

{% block title %} {{ title('app/settings/profile_data_edit.html.twig') }} {% endblock %}

{% block body %}
    {{ form_start(editForm) }}

    {{ form_errors(editForm.name) }}
    {{ form_widget(editForm.name) }}

    {{ form_errors(editForm.surname) }}
    {{ form_widget(editForm.surname) }}

    {{ form_errors(editForm.patronymic) }}
    {{ form_widget(editForm.patronymic) }}

    {{ form_errors(editForm.birthDate) }}
    {{ form_widget(editForm.birthDate) }}

    {{ form_errors(editForm.avatar) }}
    {{ form_widget(editForm.avatar) }}

    {{ form_errors(editForm.country) }}
    {{ form_widget(editForm.country) }}

    {{ form_errors(editForm.city) }}
    {{ form_widget(editForm.city) }}

    {{ form_end(editForm) }}
{% endblock %}
