{% extends 'app/base.html.twig' %}

{% block title %} {{ title('app/settings/security.html.twig') }} {% endblock %}

{% block body %}
    <h1>Безопасность</h1>
    <ul>
        <a href="{{ path('app_profile_security_new_password') }}">
            <li>Пароль</li>
        </a>
        <a href="{{ path('app_profile_security_two_factor') }}">
            <li>Двухфакторная аутентификация</li>
        </a>
    </ul>
{% endblock %}
