{% extends 'app/base.html.twig' %}

{% block title %} {{ title('app/settings/settings.html.twig') }} {% endblock %}

{% block body %}
    
    <div>
        <p><a href="{{ path('app_language') }}">Language</a></p>
        <p><a href="{{ path('app_profile_data_edit') }}">Редактировать профиль</a></p>
        <p><a href="{{ path('app_profile_notifications_settings') }}">Уведомления</a></p>
        <p><a href="{{ path('app_profile_security') }}">Безопасность</a></p>
        <p><a href="{{ path('app_profile_verification') }}">Верификация</a></p>
        <p><a href="{{ path('app_logout') }}">Выйти</a></p>
        <p><a href="#">Запрос на удаление аккаунта</a></p>
    </div>

{% endblock %}
