{% extends 'app/base.html.twig' %}

{% block title %} {{ title('app/settings/two_factor/google_authenticator/bind_google_authenticator.html.twig') }} {% endblock %}

{% block body %}
    <img src="{{ googleAuthenticatorQRCodeImageUrl }}" alt="Google Authenticator QR code">

    <form method="post" action="{{ path('app_profile_security_two_factor_google_authenticator_bind_post') }}"
          id="google-authenticator-form">
        <input type="text" maxlength="6" minlength="6" name="googleAuthenticatorCode" id="google-authenticator-code" required>
        <button type="submit">Отправить</button>
    </form>

    <p id="errors"></p>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $('#google-authenticator-form').on('submit', function () {
            $.ajax({
                url: "{{ path('api_v1_app_security_google_authenticator_check_code') }}",
                type: "POST",
                data: {code: $('#google-authenticator-code').val()},
                success: function (){

                },
                error: function (error) {
                    $('#errors').html('Неверный код')
                }
            })
        })
    </script>
{% endblock %}
