{% extends 'app/base.html.twig' %}

{% block title %} {{ title('app/settings/two_factor/google_authenticator/unbind_google_authenticator.html.twig') }} {% endblock %}

{% block body %}
    <form method="post" action="{{ path('app_profile_security_two_factor_google_authenticator_unbind_post') }}">
        <input type="number" maxlength="6" minlength="6" name="googleAuthenticatorCode" required>
        <button type="submit">Отправить</button>
    </form>
{% endblock %}
