html,
body {
    margin: 0;
    height: 100%;
}
.choose-email-or-phone {
    display: inherit;
    justify-content: space-evenly;
    padding: 20px 0 16px 0;
}
.text-opacity-choose
{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: rgba(28, 46, 69, 0.6);
}
.text-opacity-choose-active
{
    font-family: 'Inter' ,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1676F3;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    border-radius: 2px 2px 0 0;
}
.email-on--active
{

}
.form-wrapper {
    width: 364px;
    padding: 0 12px 0 12px;
    display: flex;
    flex-direction: column;
    height: 85%;
}
.tab-1
{
    flex: 1 0 auto;

}
.tab-2 {
    display: none;
}

.template_header {
    background: #1676F3;
    height: 30px;
    position: relative;
    border-radius: 0 0 4px 4px;
}

.template_header--logo {
    color: #FFFDFD;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.template_wrapper {
    display: flex;
    flex-direction: column;
}

.template_content {
    flex: 1 0 auto;
    display: flex;
}

.template_button--prev {
    background: transparent;
    color: white;
    cursor: pointer;
    margin-left: 24px;
    margin-top: 24px;
    border: none;
    outline: none
}

.template-text--after-button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 125.3%;
    margin: 10px 0 0 30px;
    /* identical to box height, or 35px */
    /* Heading Text (Light) */
    color: #192434;
}

/*Start Form*/
.form_start-nameAndSurnameRegistrationForm {
    display: flex;
    justify-content: space-between;
    padding-bottom: 31px;
}

/*Name and surname fields*/
.form-name .form-surname {
    display: inline-grid;
}

.required {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    /* Secondary Text (Light) */

    color: rgba(27, 43, 65, 0.72);
    padding-bottom: 5px;
}

.form-name-and-surname--field {
    background: rgba(26, 56, 96, 0.1);
    border-radius: 4px;
    width: 164px;
    height: 36px;
    border: none;
}

.form-full-width {
    background: rgba(26, 56, 96, 0.1);
    border-radius: 4px;
    width: 360px;
    height: 36px;
    border: none;
}

.form-button {
    background: #1676F3;
    border-radius: 4px;
    border: none;
    width: 364px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    height: 36px;
    color: white;
    align-items: center;
    text-align: center;
}

.form_start-Nickname {
    padding-bottom: 31px;
}

.form_start-Password {
    padding-bottom: 31px;
}

.form_start-emailRegistrationForm {
    padding-bottom: 31px;
}

.checkbox-wrapper-field {
    display: flex;
}

.checkbox-notice {
    width: 239px;
}

.checkbox-button-center {
    line-height: 6em;
    padding-right: 18px;
}

.checkbox-button-sf {
    background: #1676F3;
    border-radius: 4px;
    width: 27px;
    height: 27px;
    border: none;
}

.checkbox-notice--font {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
}
.email-notice
{
    justify-content: center;
    background-color: #ffeceb;
    border-radius: 4px;
    width: 347px;
    height: 47px;
}
.email--no-change-notice {
    font-family: 'Inter' , sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F52419;
}
.form-button
{
    margin-top: 31px;
    cursor:pointer;
}
.footer_content
{
    margin:170px 0;
}
.footer_menu--urls
{
    display: grid;
    flex: 0 0 auto;
    justify-content: center;
}
.footer_menu--urls_style
{
    font-family: 'Inter' , sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.footer_menu--bottom {
    display: flex;
    justify-content: center;
}