* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.template_header
{
    background: #1676F3;
    height: 30px;
    position: relative;
    border-radius: 0 0 4px 4px;
}
.template_header--logo
{
    color: #FFFDFD;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.template_wrapper
{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.template_content
{
    flex: 1 0 auto;
}
.template_footer--flex
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.template_footer--col1
{
    width: 33px;
    height: 33px;
    padding-right:66px;
}
.template_button--prev
{
    background: transparent;
    color: white;
    cursor: pointer;
    margin-left: 24px;
    margin-top: 24px;
    border: none;
    outline: none
}
.template_button--footer
{
    background: transparent;
    border: none;
    outline: none;
    margin-right: 66px;

}
.block-who-are-you
{
    display: flex;
    justify-content: center;
}
.text-who-are-you
{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #77828F;

}
.block-choose-user
{
    display: flex;
    margin: 106px -5px;
    align-items: center;
    justify-content: center;
}
.button-choose-user
{
    flex: 1 1 auto;
    margin: 23px 33px 23px 33px;
    background: transparent;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}
.block-choose-user--shadow
{
    box-shadow: 0 8px 24px -4px rgba(28, 50, 79, 0.38), 0 2px 6px -1px rgba(28, 55, 90, 0.16);
    border-radius: 4px;
    width: 150px;
    height: 150px;
    margin:0 20px;
}
.footer_content
{
    margin:170px 0;
}
.footer_menu--urls
{
    display: grid;
    justify-content: center;
}
.footer_menu--urls_style
{
    font-family: 'Inter' , sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.footer_menu--bottom {
    display: flex;
    justify-content: center;
}
