{% extends 'app/base.html.twig' %}

{% block title %} {{ title('app/settings/two_factor.html.twig') }} {% endblock %}

{% block body %}
    <div>
        <p>Google Authenticator</p>
        {% if isGoogleAuthenticator %}
            <a href="{{ path('app_profile_security_two_factor_google_authenticator_unbind') }}">
                <button>Отключить</button>
            </a>
        {% else %}
            <a href="{{ path('app_profile_security_two_factor_google_authenticator_bind') }}">
                <button>Включить</button>
            </a>
        {% endif %}
    </div>
{% endblock %}
