<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title('landing_pages/auth.html.twig') }}</title>
    <link rel="stylesheet" href="{{ asset('css/libraries/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/landing_pages/auth.css') }}">
</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-6">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <label for="inputEmail">Никнейм</label>
                <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       autocomplete="nickname" required autofocus>

                <label for="inputPassword">Пароль</label>

                <div class="input-group mb-3">
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           autocomplete="current-password"
                           required>
                    <div class="input-group-append">
                        <button type="button" id="auth-show-hide-password">
                            <svg width="20" height="12" viewBox="0 0 20 12" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 12C5.51049 12 0 8.09276 0 6C0 3.90724 5.51049 0 10 0C14.4895 0 20 3.90724 20 6C20 8.09276 14.4895 12 10 12ZM1.92582 6.46234C2.4058 6.99398 3.06532 7.57615 3.81317 8.10641C5.71956 9.45814 7.87506 10.2774 10 10.2774C12.1249 10.2774 14.2804 9.45814 16.1868 8.10641C16.9347 7.57615 17.5942 6.99398 18.0742 6.46234C18.2291 6.29078 18.3571 6.13295 18.4518 6C18.3571 5.86705 18.2291 5.70922 18.0742 5.53766C17.5942 5.00602 16.9347 4.42385 16.1868 3.89359C14.2804 2.54186 12.1249 1.72256 10 1.72256C7.87506 1.72256 5.71956 2.54186 3.81317 3.89359C3.06532 4.42385 2.4058 5.00602 1.92582 5.53766C1.77093 5.70922 1.64286 5.86705 1.54819 6C1.64286 6.13295 1.77093 6.29078 1.92582 6.46234ZM10 9.5C8.067 9.5 6.5 7.933 6.5 6C6.5 4.067 8.067 2.5 10 2.5C11.933 2.5 13.5 4.067 13.5 6C13.5 7.933 11.933 9.5 10 9.5ZM10 7.7C10.9389 7.7 11.7 6.93888 11.7 6C11.7 5.06112 10.9389 4.3 10 4.3C9.06112 4.3 8.3 5.06112 8.3 6C8.3 6.93888 9.06112 7.7 10 7.7Z"
                                      fill="#1C2E45" fill-opacity="0.6"/>
                            </svg>
                        </button>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Запомнить меня
                    </label>
                </div>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Войти
                    </button>
                </div>
            </form>
            <br>
            <div class="mb-3">
                <p class="text-center"><a href="#">Забыли пароль ?</a></p>
                <p class="text-center"><a href="{{ path('user_security_user_registration') }}">Регистрация</a></p>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="{{ asset('js/landing_pages/auth.js') }}"></script>
</body>
</html>