<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title('landing_pages/doctor_registration.html.twig') }}</title>
    <link rel="stylesheet" href="{{ asset('css/libraries/bootstrap/bootstrap.min.css') }}">
</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-center">

        <div>
            <a href="#email" id="emailTabButton">Email</a>
            <a href="#phoneNumber" id="phoneNumberTabButton">Номер телефона</a>
        </div>

        <div class="col-lg-6 col-md-6">
            {% if form_errors(emailRegistrationForm) != '' %}
                <div class="alert alert-danger">{{ form_errors(emailRegistrationForm) }}</div>
            {% endif %}
            {% if form_errors(phoneNumberRegistrationForm) %}
                <div class="alert alert-danger">{{ form_errors(phoneNumberRegistrationForm) }}</div>
            {% endif %}
            <div class="tab-1">
                {{ form_start(emailRegistrationForm) }}

                <div class="form-group">
                    {{ form_errors(emailRegistrationForm.email) }}
                    {{ form_label(emailRegistrationForm.email) }}
                    {{ form_widget(emailRegistrationForm.email, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_errors(emailRegistrationForm.nickname) }}
                    {{ form_label(emailRegistrationForm.nickname) }}
                    {{ form_widget(emailRegistrationForm.nickname, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_errors(emailRegistrationForm.name) }}
                    {{ form_label(emailRegistrationForm.name) }}
                    {{ form_widget(emailRegistrationForm.name, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_errors(emailRegistrationForm.surname) }}
                    {{ form_label(emailRegistrationForm.surname) }}
                    {{ form_widget(emailRegistrationForm.surname, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_errors(emailRegistrationForm.password) }}
                    {{ form_label(emailRegistrationForm.password) }}
                    {{ form_widget(emailRegistrationForm.password, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group d-grid gap-2 col-6 mx-auto">
                    {{ form_widget(emailRegistrationForm.submit, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
                </div>

                {{ form_end(emailRegistrationForm) }}
            </div>
            <div class="tab-2">
                {{ form_start(phoneNumberRegistrationForm) }}

                <div class="form-group">
                    {{ form_errors(phoneNumberRegistrationForm.phoneNumber) }}
                    {{ form_label(phoneNumberRegistrationForm.phoneNumber) }}
                    {{ form_widget(phoneNumberRegistrationForm.phoneNumber, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_errors(phoneNumberRegistrationForm.nickname) }}
                    {{ form_label(phoneNumberRegistrationForm.nickname) }}
                    {{ form_widget(phoneNumberRegistrationForm.nickname, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_errors(phoneNumberRegistrationForm.name) }}
                    {{ form_label(phoneNumberRegistrationForm.name) }}
                    {{ form_widget(phoneNumberRegistrationForm.name, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_errors(phoneNumberRegistrationForm.surname) }}
                    {{ form_label(phoneNumberRegistrationForm.surname) }}
                    {{ form_widget(phoneNumberRegistrationForm.surname, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_errors(phoneNumberRegistrationForm.password) }}
                    {{ form_label(phoneNumberRegistrationForm.password) }}
                    {{ form_widget(phoneNumberRegistrationForm.password, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group d-grid gap-2 col-6 mx-auto">
                    {{ form_widget(phoneNumberRegistrationForm.submit, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
                </div>

                {{ form_end(phoneNumberRegistrationForm) }}
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('.tab-2').hide()

        $(document).on('click', '#emailTabButton', function () {
            $('.tab-2').hide();
            $('.tab-1').show();
        })

        $(document).on('click', '#phoneNumberTabButton', function () {
            $('.tab-1').hide();
            $('.tab-2').show();
        })
    })
</script>
</body>
</html>
