<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title('landing_pages/patient_registration.html.twig') }}</title>
    <link rel="stylesheet" href="{{ asset('css/landing_pages/registration.css') }}">
</head>
<body>
{% include "app/blocks/template_header-with-text.html.twig" %}
<div class='form-wrapper'>
    <div class="choose-email-or-phone">
        <div class="email-on--active text-opacity-choose-active">
            <a>Email</a>
        </div>
        <div class="phone-disable text-opacity-choose">
            <a>Номер телефона</a>
        </div>
    </div>
    <div class="tab-1">
        <div class="form_start-nameAndSurnameRegistrationForm">
            <div class="form-name">
                {{ form_errors(emailRegistrationForm.name) }}
                {{ form_label(emailRegistrationForm.name) }}
                {{ form_widget(emailRegistrationForm.name , {'attr': {'class': 'form-name-and-surname--field'}}) }}
            </div>
            <div class="form-surname">
                {{ form_errors(emailRegistrationForm.surname) }}
                {{ form_label(emailRegistrationForm.surname) }}
                {{ form_widget(emailRegistrationForm.surname , {'attr': {'class': 'form-name-and-surname--field'}}) }}
            </div>
        </div>
        <div class="form_start-Nickname">
            {{ form_errors(emailRegistrationForm.nickname) }}
            {{ form_label(emailRegistrationForm.nickname) }}
            {{ form_widget(emailRegistrationForm.nickname , {'attr': {'class': 'form-full-width'}}) }}
        </div>
        <div class="form_start-emailRegistrationForm">
            {{ form_start(emailRegistrationForm) }}

            {{ form_errors(emailRegistrationForm.email) }}
            {{ form_label(emailRegistrationForm.email) }}
            {{ form_widget(emailRegistrationForm.email , {'attr': {'class': 'form-full-width'}}) }}
        </div>
        <div class="form_start-Password">
            {{ form_errors(emailRegistrationForm.password) }}
            {{ form_label(emailRegistrationForm.password) }}
            {{ form_widget(emailRegistrationForm.password , {'attr': {'class': 'form-full-width'}}) }}
        </div>
        <div class="checkbox-wrapper-field">
            <div class="checkbox-button">
                <label class="checkbox-button-center">
                    <input class="checkbox-button-sf" type="checkbox" name="notice">
                </label>
            </div>
            <div class="checkbox-notice">
                <p class="checkbox-notice--font">Я соглашаюсь с политикой конфиденциальности и публичной оффертой</p>
            </div>
        </div>
        <div class="email-notice">
            <h1 class="email--no-change-notice">Внимательно заполняйте данные, так как email и номер телефона нельзя менять!</h1>
        </div>
        {{ form_widget(emailRegistrationForm.submit ,  {'attr': {'class': 'form-button'}}) }}

        {{ form_end(emailRegistrationForm) }}
    </div>
    <div class="tab-2">
        <div class="form_start-nameAndSurnameRegistrationForm">
            {{ form_start(phoneNumberRegistrationForm) }}
            <div class="form-name">
                {{ form_errors(phoneNumberRegistrationForm.name) }}
                {{ form_label(phoneNumberRegistrationForm.name) }}
                {{ form_widget(phoneNumberRegistrationForm.name , {'attr': {'class': 'form-name-and-surname--field'}}) }}
            </div>
            <div class="form-surname">
                {{ form_errors(phoneNumberRegistrationForm.surname) }}
                {{ form_label(phoneNumberRegistrationForm.surname) }}
                {{ form_widget(phoneNumberRegistrationForm.surname , {'attr': {'class': 'form-name-and-surname--field'}}) }}
            </div>
        </div>
        <div class="form_start-Nickname">
            {{ form_errors(phoneNumberRegistrationForm.nickname) }}
            {{ form_label(phoneNumberRegistrationForm.nickname) }}
            {{ form_widget(phoneNumberRegistrationForm.nickname , {'attr': {'class': 'form-full-width'}} ) }}
        </div>
        <div class="form_start-emailRegistrationForm">
            {{ form_errors(phoneNumberRegistrationForm.phoneNumber) }}
            {{ form_label(phoneNumberRegistrationForm.phoneNumber) }}
            {{ form_widget(phoneNumberRegistrationForm.phoneNumber , {'attr': {'class': 'form-full-width'}}) }}
        </div>
        <div class="form_start-Password">
            {{ form_errors(phoneNumberRegistrationForm.password) }}
            {{ form_label(phoneNumberRegistrationForm.password) }}
            {{ form_widget(phoneNumberRegistrationForm.password , {'attr': {'class': 'form-full-width'}}) }}
        </div>
        <div class="checkbox-wrapper-field">
            <div class="checkbox-button">
                <label class="checkbox-button-center">
                    <input class="checkbox-button-sf" type="checkbox" name="notice">
                </label>
            </div>
            <div class="checkbox-notice">
                <p class="checkbox-notice--font">Я соглашаюсь с политикой конфиденциальности и публичной оффертой</p>
            </div>
        </div>
        <div class="email-notice">
            <h1 class="email--no-change-notice">Внимательно заполняйте данные, так как email и номер телефона нельзя
                менять!</h1>
        </div>
        {{ form_widget(phoneNumberRegistrationForm.submit ,  {'attr': {'class': 'form-button'}}) }}

        {{ form_end(phoneNumberRegistrationForm) }}

    </div>
</div>
<footer>
    {% include "app/blocks/footer_menu--urls.html.twig" %}
</footer>
</body>
</html>
