<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <link rel="stylesheet" href="{{ asset('css/libraries/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/landing_pages/template.css') }}">
</head>
<body>
<div class="template_content">
    {% include "app/blocks/template_header.html.twig" %}
    <div class="block-who-are-you">
        <h1 class="text-who-are-you">Who are <br> you?</h1>
    </div><div class="block-choose-user">
        <div class="block-choose-user--shadow">
            <button class="button-choose-user" type="submit" href="#"><img alt="Choose doctor" src="{{ asset('img/logo/doctor.png') }}" width="85px" height="100px"></button>
        </div>
        <div class="block-choose-user--shadow">
            <button class="button-choose-user" type="submit" href="#"><img alt="Choose patient" src="{{asset ('img/logo/patient.png')}}" width="85px" height="100px"></button>
        </div>
    </div>
</div>
</body>
<footer>
    <div class="footer_content">
        {% include "app/blocks/footer_menu--urls.html.twig" %}
    </div>
</footer>