<div class="template_footer--flex">
    <div class="template_footer--col1">
        <button class="template_button--footer" type="submit" href="#"><img
                    src="{{ asset('img/logo/ellipsis-circle-o.png') }}" alt="Info" width="33px" height="33px">
        </button>
    </div>
    <div class="template_footer--col1">
        <button class="template_button--footer" type="submit" href="#"><img
                    src="{{ asset('img/logo/comments-o.png') }}" alt="Comments" width="33px" height="33px"></button>
    </div>
    <div class="template_footer--col1">
        <button class="template_button--footer" type="submit" href="#"><img src="{{ asset('img/logo/cog-o.png') }}"
                                                                            alt="Settings" width="33px"
                                                                            height="33px"></button>
    </div>
</div>
