<div class="footer_menu--urls">
    <div class="footer_menu--top">
        <a class="footer_menu--urls_style" href="#">Есть аккаунт?</a>
    </div>
    <div class="footer_menu--bottom">
        <a class="footer_menu--urls_style" href="#">Войти</a>
    </div>
</div>