<div class="template_wrapper">
    <div class="template_header">
        <a class="template_header--logo">DoctorTillin</a>
    </div>
    <div class="template_content">
        <button class="template_button--prev" type="submit" href="#"><img
                    src="{{ asset('img/logo/button-prev.png') }}"
                    alt="Back" width="15px" height="25px">
        </button>
        <div class="template-text--after-button">
            <h1 class="template-text--after-button">Регистрация</h1>
        </div>
    </div>
</div>
