{% extends 'app/base.html.twig' %}

{% block title %} {{ title('app/settings/verification/email_verification.html.twig') }} {% endblock %}

{% block body %}
    <span id="verification-email-success"></span>
    <span id="verification-email-error"></span>
    {% if getUser().emailVerified == true %}
        <p>Ваш Email верифицирован! Чтобы изменить его - свяжитесь с администрацией сайта</p>
    {% endif %}
    {% if userHasEmail %}
        <input type="email" name="email" value="{{ getUser().getEmail() }}" id="email-field" disabled required>
    {% else %}
        <input type="email" name="email" value="" id="email-field" required>
    {% endif %}
    <button type="submit" id="send-verification-email">Отправить письмо</button>

    <form id="verify-verification-code">
        <input type="text" maxlength="6" minlength="6" id="verificationCode">
    </form>

{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $('#verificationCode').hide()

        $('#send-verification-email').on('click', function (e) {
            e.preventDefault()
            const email = $('#email-field').val()

            if ("{{ userHasEmail }}" == false) {
                $.ajax({
                    url: "{{ path('api_v1_user_secure_check_email_unique') }}",
                    type: "POST",
                    data: {email: email},
                    success: function (result) {
                        clearError()
                        $.ajax({
                            url: "{{ path('api_v1_user_secure_set_email') }}",
                            type: "POST",
                            data: {email: email},
                            success: function (result) {
                                clearError()
                                $.ajax({
                                    url: "{{ path('api_v1_user_secure_email_send_verify_email') }}",
                                    type: "POST",
                                    data: {},
                                    success: function (result) {
                                        <!-- Алерт об успехе -->
                                        clearError()
                                        $('#email-field').prop('disabled', true)
                                        $('#verificationCode').show()
                                    },
                                    error: function (error) {
                                        $('#verification-email-error').html('Что-то пошло не так. Извиняемся за неудобства')
                                    }
                                })
                            },
                            error: function (error) {
                                console.log(error)
                                $('#verification-email-error').html('Пользователь с таким email уже зарегестрирован')
                            }
                        })
                    },
                    error: function (error) {
                        console.log(error)
                        $('#verification-email-error').html('Пользователь с таким Email уже существует')
                    }
                })
            } else {
                $.ajax({
                    url: "{{ path('api_v1_user_secure_set_email') }}",
                    type: "POST",
                    data: {email: email},
                    success: function (result) {
                        clearError()
                        $.ajax({
                            url: "{{ path('api_v1_user_secure_email_send_verify_email') }}",
                            type: "POST",
                            data: {},
                            success: function (result) {
                                <!-- Алерт об успехе -->
                                clearError()
                                $('#email-field').prop('disabled', true)
                                $('#verificationCode').show()
                            },
                            error: function (error) {
                                $('#verification-email-error').html('Что-то пошло не так. Извиняемся за неудобства')
                            }
                        })
                    },
                    error: function (error) {
                        console.log(error)
                        $('#verification-email-error').html('Пользователь с таким email уже зарегестрирован')
                    }
                })
            }
        })

        $('#verificationCode').on('keyup', function (e) {
            e.preventDefault()
            var length = $(this).val().length
            var code = $(this).val()
            if (length === 6) {
                $.ajax({
                    url: "{{ path('api_v1_user_secure_email_check_verify_email_code') }}",
                    type: "POST",
                    data: {code: code},
                    success: function () {
                        clearError()
                        $('#verification-email-success').html('Ваш email верифицирован!')
                        $('#email-field').prop('disabled', true)
                        $('#verificationCode').hide()
                        $('#verificationCode').val('')
                    },
                    error: function (error) {
                        $('#verification-email-error').html('Неверный код')
                        $('#verificationCode').val('')
                    }
                })
            }
        })

        // Отменяет Ctrl + V
        $('#verificationCode').bind('cut copy paste', function (e) {
            e.preventDefault()
        })

        function clearError() {
            $('#verification-email-error').html('')
        }
    </script>
{% endblock %}
