{% extends 'app/base.html.twig' %}

{% block title %} {{ title('app/settings/verification/phone_number_verification.html.twig') }} {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/libraries/intl-tel-input/intlTelInput.css') }}">
{% endblock %}

{% block body %}
    <style>
        .iti__flag {
            background-image: url("{{ asset('img/libraries/intl-tel-input/flags.png') }}");
        }

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .iti__flag {
                background-image: url("{{ asset('img/libraries/intl-tel-input/flags@2x.png') }}");
            }
        }
    </style>
    <span id="phone-number-valid"></span>
    <span id="phone-number-error"></span>
    {% if getUser().phoneNumber is not null and getUser().phoneNumberVerified == false %}
        <p>Ваш номер привязан к Вашей записи! Чтобы верифицировать номер - <a
                    href="https://t.me/doctortillinbot" target="_blank">https://t.me/doctortillinbot</a></p>
    {% elseif getUser().phoneNumberVerified == true %}
        <p>Ваш номер телефона верифицирован! Чтобы изменить номер - свяжитесь с администрацией сайта</p>
    {% endif %}
    <form id="phone-number-verification-form">
        {% if userHasPhoneNumber %}
            <input type="tel" name="phoneNumber" value="{{ getUser().getPhoneNumber() }}" id="phone-number-field"
                   disabled required>
        {% else %}
            <input type="tel" name="phoneNumber" value="" id="phone-number-field" required>
            <button type="submit">Подтвердить</button>
        {% endif %}
    </form>

    <input type="text" minlength="6" maxlength="6" id="verification-code">
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/libraries/int-tel-input/intlTelInput.js') }}"></script>
    <script>
        $('#verification-code').hide()
        var input = document.querySelector('#phone-number-field')
        var iti = window.intlTelInput(input, {
            initialCountry: "auto",
            geoIpLookup: function (success, failure) {
                $.get("https://ipinfo.io", function () {
                }, "jsonp").always(function (resp) {
                    var countryCode = (resp && resp.country) ? resp.country : "ua";
                    success(countryCode);
                });
            },
            preferredCountries: ["ua", "es", 'us'],
            utilsScript: "{{ asset('js/libraries/int-tel-input/utils.js') }}",
            onlyCountries: ["al", "ad", "at", "be", "ba", "bg", "hr", "cz", "dk",
                "ee", "fo", "fi", "fr", "de", "gi", "gr", "va", "hu", "is", "ie", "it", "lv",
                "li", "lt", "lu", "mk", "mt", "md", "mc", "me", "nl", "no", "pl", "pt", "ro",
                "sm", "rs", "sk", "si", "es", "se", "ch", "ua", "gb", "us"],
            separateDialCode: true,
        });

        $('#phone-number-verification-form').on('submit', function (e) {
            e.preventDefault()
            if (iti.isValidNumber()) {
                $.ajax({
                    url: "{{ path('api_v1_user_secure_check_phone_number_unique') }}",
                    type: "POST",
                    data: {phoneNumber: iti.getNumber()},
                    success: function (result) {
                        clearError()
                        $.ajax({
                            url: "{{ path('api_v1_user_secure_set_phone_number') }}",
                            type: "POST",
                            data: {phoneNumber: iti.getNumber(), country: iti.getSelectedCountryData().iso2},
                            success: function (result) {
                                clearError()
                                $('#phone-number-field').prop('disabled', true)
                                $('#phone-number-valid').html('Ваш номер привязан к Вашей записи! Чтобы верифицировать номер - <a href="https://t.me/doctortillinbot" target="_blank">https://t.me/doctortillinbot</a>')
                            },
                            error: function (error) {
                                console.log('error')
                                $('#phone-number-error').html('Что-то пошло не так')
                            }
                        })
                    },
                    error: function (result) {
                        $('#phone-number-error').html('Пользователь с таким номером уже зарегестрирован')
                    }
                })
            } else {
                $('#phone-number-error').html('Неверный формат номера телефона')
            }
        })

        function clearError() {
            $('#phone-number-error').html('')
        }
    </script>
{% endblock %}
