{% extends 'app/base.html.twig' %}

{% block title %} {{ title('app/settings/verification/verification_menu.html.twig') }} {% endblock %}

{% block body %}
    <a href="{{ path('app_settings') }}"><-</a>
    <h1>Верификация</h1>
    <ul>
        <a href="{{ path('app_profile_verification_email') }}">
            <li>Верифицировать Email</li>
        </a>
        <a href="{{ path('app_profile_verification_phone_number') }}">
            <li>Верифицировать номер телефона</li>
        </a>
        {% if getUser().isDoctor() %}
            <a href="#">
                <li>Верифицировать личность</li>
            </a>
        {% endif %}
    </ul>
{% endblock %}
